body{
  background: none;
  position: relative;
  width: 100%;
}

/* LP */

#LP {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 30em;
}
  .p-lp__logo{
  }
    .p-lp__logo__txt{
        font-size: 2.8em;
        margin: 0.6em 0 0;
        letter-spacing: 0.04em;
        line-height: 1.1;
        font-family: "Montserrat",sans-serif;
        text-align: center;
    }
    @media screen and (max-width: 480px) {
      .p-lp__logo__txt{
        margin: 0.2em 0 0;
      }
    }

  .p-lp__blox{
    margin-right: -10px;
    padding: 15px 0;
    cursor: pointer;
  }
  @media screen and (max-width: 480px) {
    .p-lp__blox{
      padding: 10px 0;
    }
  }
    .p-lp__blox__item{
      display: inline-block;
      width: 6px;
      height: 6px;
      border-width: 2px;
      border-style: solid;
      margin-right: 10px;
    }
    .p-lp__blox__item--one{border-color: #3A7DD1}
    .p-lp__blox__item--two{border-color: #0FBD8B}
    .p-lp__blox__item--three{border-color: #E7755E}
    .p-lp__blox__item--four{border-color: #F99B42}
    .p-lp__blox__item--five{border-color: #7F9EBC}
    .p-lp__blox__item--six{border-color: #F78BA7}

  .p-lp__desc{
    margin: 0 0 0.6em;
    color: #676F7D;
  }
  @media screen and (max-width: 480px) {
    .p-lp__desc{
      display: none;
    }
  }
  .p-lp__form{
  }
    .p-lp__form__input{
      border: 1px solid #DFE6E8;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      padding: 4px 8px;
    }
    .p-lp__form__button{
      font-family: "Montserrat",sans-serif;
      font-weight: bold;
      letter-spacing: 0.1em;
      padding: 12px 42px;
      margin: 2em 0 0;
      border: none;
      background: #DFE4E6;
    }
    @media screen and (max-width: 480px) {
      .p-lp__form__button{
        margin: 1em 0 0;
      }
    }
    .p-lp__form__button:hover{
      background: #676F7D;
      color: #fff;
    }
    @media screen and (max-width: 480px) {
      .p-lp__form__button{
        width: 100%;
        padding: 12px 0;
      }
    }



/* LP END */