/* HUSEN */
.theme-husen--one {
    border-width: 3px;
    color: #676F7D;
    border-color: #676F7D;
}
.theme-husen--two {
    border-width: 3px;
    background-color: #676F7D;
    border-color: #fff;
    color: #fff;
    font-weight: normal;
}
.theme-husen--three{
    border-width: 1px;
    color: #676F7D;
    border-color: #fff;
}
.theme-husen--four {
    border-width: 1px;
    color: #676F7D;
    border-color: #fff;
}
.theme-husen--five {
    border-width: 1px;
    color: #676F7D;
    border-color: #fff;
}
.theme-husen--six {
    border-width: 1px;
    color: #676F7D;
    border-color: #fff;
}


/* SIDEBAR */
.theme-colorlist__item--one{border-color: #EFF0F4;}
.theme-colorlist__item--one.is-active{border-color: #676F7D}
.theme-colorlist__item--two{border-color: #EFF0F4; background-color: #676F7D}
.theme-colorlist__item--two.is-active{border-color: #676F7D}
.theme-colorlist__item--three{display: none;}
.theme-colorlist__item--four{display: none;}
.theme-colorlist__item--five{display: none;}
.theme-colorlist__item--six{display: none;}