/* FOUNDATION START */

html{
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
body{
    font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,Arial,sans-serif;
    font-size: 14px;
    color: #676F7D;
    margin: 0;
    line-height: 1.6;
    background-image: url("../images/bg_check.png");
    background-size: 16px 16px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
a {
  background: transparent;
}
b, strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 0;
}
textarea {
  overflow: auto;
}

/* FOUNDATION END */


/* z-index manager */
/**
 * 1: back
 * 2: canvas;
 * 3: husen;
 * 4: husen-cross;
 * 4: husen-note;
 * 5: header;
 * 5: sidebar;
 */
#back{z-index: 1}
#canvas{z-index: 2}
.p-husen{z-index: 3}
.p-husen__cross{z-index: 4}
.p-husen__note{z-index: 4}
#header{z-index: 5}
#sidebar{z-index: 5}


/* HEADER */
#header{
    position: relative;
}
    .p-header__logo{
        height: 64px;
        background: #F7F8F9;
        border-bottom: 1px solid #EFF0F4;
    }
    .p-header__logo > a{
        text-decoration: none;
    }
        .p-header__logo__img{
            margin-top: 16px;
            margin-left: 1.5em;
            display: inline-block;
            vertical-align: middle;
        }
        .p-header__logo__txt{
            font-size: 1.4em;
            color: #676F7D;
            margin: 16px 0 0 0.2em;
            letter-spacing: 0.06em;
            font-family: "Montserrat",sans-serif;
            display: inline-block;
            vertical-align: middle;
        }
    .p-header__title{
        font-size: 1em;
        background: #fff;
        padding: 1.4em 0 1.4em 2em;
        margin: 0;
        border-bottom: 1px solid #EFF0F4;
    }
    #page-title{
      margin: 0;
      width:550px;
    }
    #page-title_input{
      width:550px;
    }

/* HEADER END */






/* SIDEBAR */
#sidebar{
    position: relative;
    display: inline-block;
}
    .p-colorlist{
        padding: 12px;
        background: #fff;
        border-right: 1px solid #EFF0F4;
        border-bottom: 1px solid #EFF0F4;
        display: inline-block;
    }
        .p-colorlist__item{
            width: 38px;
            height: 38px;
            border-width: 3px;
            margin-top: 8px;
            border-style: solid;
            cursor: pointer;
        }
        .p-colorlist__item--first{
            margin-top: 0;
        }

/* SIDEBAR END */







/* CANVAS */
#canvas{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

/* CANVAS END */







/* HUSEN */
.p-husen {
    cursor: move;
    width: 200px;
    position: absolute;
    background: white;
    padding: 8px 12px;
    border-style: solid;
    font-weight: bold;
}
    .p-husen__cross{
        display: none;
        position: absolute;
        top: -2px;
        right: 2px;
        cursor: pointer;
        color: #FFF;
    }
    .p-husen:hover .p-husen__cross{
        display: block;
    }
/* HUSEN END */