/* fix */
.p-husen__cross{color: inherit;}

.p-husen{
    border-width: 1px;
    font-size: 10px;
    word-wrap: break-word;
}
.p-husen:last-child{
    background: #F8FDD5;
}
/* theme */
.theme-husen--one {
    color: gray;
    border-color: gray;
}
.theme-husen--two {
    color: #0fbd8b;
    border-color: #0fbd8b;
}
.theme-husen--three {
    color: #e7755e;
    border-color: #e7755e;
}
.theme-husen--four {
    color: #f99b42;
    border-color: #f99b42;
}
.theme-husen--five {
    color: #298dd4;
    border-color: #298dd4;
}
.theme-husen--six {
    color: #f78ba7;
    border-color: #f78ba7;
}

.theme-colorlist__item--one{border-color: gray}
.theme-colorlist__item--one.is-active{background-color: gray}
.theme-colorlist__item--two{border-color: #0fbd8b}
.theme-colorlist__item--two.is-active{background-color: #0fbd8b}
.theme-colorlist__item--three{border-color: #e7755e}
.theme-colorlist__item--three.is-active{background-color: #e7755e}
.theme-colorlist__item--four{border-color: #f99b42}
.theme-colorlist__item--four.is-active{background-color: #f99b42}
.theme-colorlist__item--five{border-color: #298dd4}
.theme-colorlist__item--five.is-active{background-color: #298dd4}
.theme-colorlist__item--six{border-color: #f78ba7}
.theme-colorlist__item--six.is-active{background-color: #f78ba7}
