/* fix */
.p-husen{
    border-width: 1px;
    border-color: #fff;
    color: #fff;
    font-weight: normal;
}
.p-husen:last-child{
  box-shadow: 0 0 2px 2px rgba(234,172,64,.6);
  border: none;
}

/* theme */
.theme-husen--one {
    background-color: #298dd4;
}
.theme-husen--two {
    background-color: #0fbd8b;
}
.theme-husen--three {
    background-color: #e7755e;
}
.theme-husen--four {
    background-color: #f99b42;
}
.theme-husen--five {
    background-color: #7f9ebc;
}
.theme-husen--six {
    background-color: #f78ba7;
}

.theme-colorlist__item--one{border-color: #298dd4}
.theme-colorlist__item--one.is-active{background-color: #298dd4}
.theme-colorlist__item--two{border-color: #0fbd8b}
.theme-colorlist__item--two.is-active{background-color: #0fbd8b}
.theme-colorlist__item--three{border-color: #e7755e}
.theme-colorlist__item--three.is-active{background-color: #e7755e}
.theme-colorlist__item--four{border-color: #f99b42}
.theme-colorlist__item--four.is-active{background-color: #f99b42}
.theme-colorlist__item--five{border-color: #7f9ebc}
.theme-colorlist__item--five.is-active{background-color: #7f9ebc}
.theme-colorlist__item--six{border-color: #f78ba7}
.theme-colorlist__item--six.is-active{background-color: #f78ba7}