/* theme */
.theme-husen--one, .theme-husen--three, .theme-husen--four, .theme-husen--five, .theme-husen--six {
    border-width: 2px;
    color: #676F7D;
    border-color: #EFF0F4;
}
.theme-husen--one .p-husen__cross, .theme-husen--three .p-husen__cross, .theme-husen--four .p-husen__cross, .theme-husen--five .p-husen__cross, .theme-husen--six .p-husen__cross {
    color: #676F7D;
}
.theme-husen--two {
    border-width: 1px;
    background-color: #676F7D;
    border-color: #fff;
    color: #fff;
    font-weight: normal;
}

.theme-colorlist__item--one{border-color: #EFF0F4;}
.theme-colorlist__item--one.is-active{border-color: #676F7D}
.theme-colorlist__item--two{border-color: #EFF0F4; background-color: #676F7D}
.theme-colorlist__item--two.is-active{border-color: #676F7D}
.theme-colorlist__item--three, .theme-colorlist__item--four, .theme-colorlist__item--five, .theme-colorlist__item--six{display: none;}